.navbar-right {
  height: 50px;
}
.navbar-right li{
  width: 40px;
  height: 50px;
  line-height: 50px;
}

.navbar-right li img{
 border: 1px solid white;
 border-radius: 50%;
 vertical-align: middle;
 background-color: white;
}
#navigation {
  border-bottom: 15px solid lightgrey;
  margin-bottom: 40px;
}

#message {
  font-size: 18px;
}

.skill-list {
  font-size: 20px;

}

.skill-list i{
  font-size: 46px;
   vertical-align: middle;
}

.skill-list li {
  list-style: none;
  margin: 10px 0;
   vertical-align: middle;
  line-height: 60px;
}
