.mainContainer {
  //   background-image: url('../../images/lightbulb1.jpg');
  background-image: url('../../images/laptop.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  min-height: 600px;
}
