@import '../base/_colors.scss';

.mainContainer {
  display: flex;
  justify-content: space-between;
  height: 120px;
  // border-bottom: 1px solid black;
  align-items: center;
  padding: 0.5rem 2rem;
}

.logo {
  padding: 0 1rem;
}

ul {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 70%;
}

.menu > li {
  list-style: none;
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
  width: 100px;
  color: $Primary;
}
