.top-bar {
  padding: 2rem 5rem;
  background-color: $PORCELAIN;
  & ul {
    background-color: $PORCELAIN;
  }
  li {
        font-size: 1.5rem;
  }
}
.breadcrumbs a:hover {
  text-decoration: underline solid $RIPE_LEMON;
}
