{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "jsx-a11y", "import", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/jsx-filename-extension": 0,
    "no-use-before-define": 0,
    "jsx-a11y/href-no-hash": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off"
  }
}
