body {
    font-family: 'Open Sans', sans-serif;
}

/*helper styles*/
.bg-yellow {
  background-color: #F9BF3B;
}

.bg-blue {
  background-color: #22313F;
}

.bg-green{
  background-color: #96281B;
}

.bg-grey{
  background-color: #444444;
}

.container {
    padding: 40px 20px;
    /*margin: 0 auto;*/
}
.container-spacer {
  padding: 80px 20px;
}

/*navigation*/

.top-bar {
    background-color: #22313F;
    color: white;
}

.title-bar, .top-bar, .top-bar ul {
  background-color: #22313F;
}

.top-bar-title{
  min-width: 100%;
  float: none;
  text-align: center;
}

#nav-section h4{
  color: white;
  text-transform: uppercase;
}

.top-bar-right ul li a{
color: white;
}


h3 {
  text-align: center;
}

/*about section*/

#about-me {
  margin-bottom: 40px;
}
#services  {
  text-align: center;
  color: white;
}
#portfolio {
  text-align: center;
}

/*.card {
    line-height: 500px;
    min-height: 500px;
    border: 1px solid red;
}*/

.portfolio-item {
  min-height: 400px;
  width: 400px;
}

