body {
    font-family: 'Open Sans', sans-serif;
}

/*helper styles*/
.bg-yellow {
  background-color: #F9BF3B;
}

.bg-blue {
  background-color: #22313F;
}

.bg-green{
  background-color: #1E824C;
}

.bg-grey{
  background-color: #444444;
}

.container {
    padding: 40px 20px;
}
.container-spacer {
  padding: 80px 20px;
}

.navbar-fixed-top {
  padding-right: 0;
  padding-left: 0;
  position: fixed;
  top: 0;
  z-index: 1;
  max-height: 336;
  right: 0;
  left: 0;
  max-height: 200px;
}

#nav-section h5{
  color: white;
  height: 82px;
  line-height: 82px;
}

.logo {
  background-size: 100% 100%;
    width: 5.3125em;
    height: 5em;
    display: block;
    position: relative;
}
/*navigation*/
#nav-section {
  color: white;
}
.top-bar, .title-bar, .top-bar, .top-bar ul {
  background-color: #22313F;
}

.top-bar-title{
  min-width: 100%;
  float: none;
  text-align: center;
}

#nav-section h4{
  color: white;
  text-transform: uppercase;
}

.menu  li a{
color: white;
text-transform: uppercase;
}

.menu li {
  border-right: 1px solid white;
}
.menu  li:last-child {
  border-right: none;
}
h3 {
  text-align: center;
}

/*about section*/

#about-me {
  height: 100vh;
  /*margin-top: 175px;*/
  margin-bottom: 40px;
}
#services  {
  height: 100vh;
  text-align: center;
  color: white;
}
#portfolio {
  height: 100vh;
  text-align: center;
}

#technologies {
  text-align: center;
}
/*.card {
    line-height: 500px;
    min-height: 500px;
    border: 1px solid red;
}*/

.portfolio-item {
  min-height: 400px;
  width: 400px;
}

span {
  min-height: 150px;
  min-width: 50px;
}

/*@media (max-device-width: 480px)  {
  .navbar-fixed-top {
    max-height: 200px;
  }
}

@media (max-device-width: 768px)  {
  .navbar-fixed-top {
    max-height: 200px;
  }
}*/